<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xmlns:amq="http://activemq.apache.org/schema/core"
       xsi:schemaLocation="
  		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.1.xsd
                           http://www.springframework.org/schema/jms 
                           http://www.springframework.org/schema/jms/spring-jms.xsd
                           http://activemq.apache.org/schema/core 
                           http://activemq.apache.org/schema/core/activemq-core.xsd">	
		

    <context:component-scan base-package="cc.raupach" />
    
    <!--  Embedded ActiveMQ Broker -->
    <amq:broker id="broker" useJmx="true" persistent="false">
        <amq:transportConnectors>
            <amq:transportConnector uri="tcp://localhost:61616?daemon=true" />
        </amq:transportConnectors>
        
        <amq:destinations>
        	<amq:queue physicalName="logQueue"/>
        	<amq:topic physicalName="cometPush"/>
        </amq:destinations>
    </amq:broker>

    <!--  ActiveMQ Destination  -->
    <amq:topic id="cometPush" physicalName="cometPush" />

    <amq:queue id="logQueue" physicalName="logQueue" />
     

    <!-- JMS Producer Configuration -->
    <bean id="jmsProducerConnectionFactory" 
          class="org.springframework.jms.connection.SingleConnectionFactory"
          depends-on="broker"
          p:targetConnectionFactory-ref="jmsFactory" />

    <bean id="jmsFactory" class="bitronix.tm.resource.jms.PoolingConnectionFactory" init-method="init" destroy-method="close">
        <property name="className" value="org.apache.activemq.ActiveMQXAConnectionFactory" />
        <property name="uniqueName" value="activemq" />
        <property name="maxPoolSize" value="15" />
        <property name="testConnections" value="true" />
        <property name="driverProperties">
            <props>
                <prop key="brokerURL">tcp://localhost:61616?daemon=true</prop>
            </props>
        </property>
    </bean>
 
   <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate"
          p:connectionFactory-ref="jmsProducerConnectionFactory"
          p:defaultDestination-ref="cometPush" >
	</bean>

    <!-- JMS Producer Configuration -->
    <bean id="connectionFactory" 
          class="org.springframework.jms.connection.SingleConnectionFactory"
          depends-on="broker"
          p:targetConnectionFactory-ref="jmsFactory" />
          

	<bean id="jmsContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
    	<property name="connectionFactory" ref="jmsProducerConnectionFactory"/>
   		<property name="destination" ref="logQueue"/>
    	<property name="messageListener" ref="LogQueueListener" />
    	<property name="sessionTransacted" value="true"/>
    	<property name="transactionManager" ref="transactionManager"/>
    	<property name="maxConcurrentConsumers" value="5"/>
	</bean>
    
	
</beans>
